---
import logoTransparent from "@/assets/logo-transparent.png";

const year = new Date().getFullYear();
---

<footer class="w-full bg-black py-6 mt-32">
  <div
    class="max-w-7xl mx-auto px-6 flex flex-col md:flex-row items-center justify-between gap-6"
  >
    <a href="#" class="flex items-center gap-3">
      <img src={logoTransparent.src} alt="Vibrant" class="w-8 h-8" />
      <span class="text-white font-medium">Vibrant</span>
    </a>

    <p class="text-white/40 text-sm">
      made by <a
        href="https://github.com/francogalfre"
        target="_blank"
        rel="noopener noreferrer">francogalfre</a
      >
      with the heart
    </p>

    <p class="text-white/40 text-sm">© {year} Vibrant. All rights reserved.</p>
  </div>
</footer>
